

header{
    max-width: 800px;
    margin: 0 auto;
    .mainHeader .funBus img{
        padding: 10px 0;
        border-top: 2px dashed grey;}
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 2px dashed grey;
        .navBar{
            display: flex;
            flex-wrap: wrap;
            width: 40%;
            justify-content: space-between;
            a {
                font-size: 1.6rem;
                text-decoration: none;
            }
        }
    }
}
